.home-container {
    padding: 1px;
}
.hero-banner {
    width: 100%;
    background: #6BB120;
    height: 260px;
    &-content {
        color: #fff;
        padding-top: 90px;
        width: 80%;
        .title {
            font-size: 35px;  
        }
        .subtitle {
            font-size: 20px;
            padding: 1rem 0;
        }
    }   
}
.featured-bg {
    &-image {
        width: 100%;
    }
}
.featured-card {
    padding: 1rem;

    &-leftrsc {
        width: 50%;
        &-img {
            padding: 1px;
        }
    }

    &-rightrsc {
        width: 50%;
    }
}
.content-bg-image {
    width: 100%;
}
.main-content {
    margin-bottom: 5rem;
    height: 60rem;
}