.carousel-inner {
    background: #0097ba;
    height: 170px;
}

.carousel-control {
    width: 10%;
}

.step-indicator-container {
    width: 70%;   
    margin: 30px auto;

    .step-indicator {
        list-style: none;
        display: flex;
        padding-left: 0;         
    }
    .step {
        position: relative;
        width: 25%;
        color: #fff;
        text-align: center;
        display: flex;
        justify-content: flex-end;
        
        &-circle-rc {
            content: '';
            height: 18px;
            width: 20px;
            border-radius: 100%;
            background: #fff;
            position: relative;
            z-index: 1000;
            cursor: pointer;
            
            .name {
                position: absolute;
                text-align: left;
                width: 100px;
                left: -10px;
                top: 25px;
            }
        }

        &-first-left {
            width: 400px;
            height: 2px;
            content: '';
            background: #fff;
            display: block;
            margin-top: 8px;
            position: absolute;
            right: 10%;
        }
        
        &-left-rc {
            width: 100%;
            height: 2px;
            content: '';
            background: #fff;
            display: block;
            margin-top: 8px;
            
        }
        &-right-rc {
            width: 400px;
            height: 2px;
            content: '';
            background: #fff;
            display: block;
            margin-top: 8px;
            position: absolute;
            left: 90%;
        }
        &.active .step-left-rc {
            transition: all 2s;
            background: #f00;
        }

        &.active .step-circle-rc {
            transition: all 2s;
            background: #f00;
        }

        &.active .step-first-left {
            transition: all 2s;
            background: #f00;
        }
        
        &-name {
            color: #fff;
        }
    }
}